<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: page_head('Users - L\'essayer Backend Console')">

<body>
	<div th:replace="fragments :: top_header_bar" />
    <div th:replace="fragments :: nav_bar" />
    <div class="container-fluid">
    	<div th:replace="fragments :: tool_bar(${baseURL})" />
		<div class="row mx-4 p-4">
			<th:block th:each="article, iterStat : ${articleList}">
				<div class="col-4 my-2">
					<div class="card w-100">
						<div class="card-header">
							<a th:href="${baseURL} + '/view/' + ${currentPage} + '/' + ${article.id} + '/' + ${iterStat.index} + ${keyword != null ? '?keyword=' + keyword : ''}" 
								class="fa-solid fa-file fa-1x mx-2 text-white link-detail" data-bs-toggle="tooltip" title="View"></a>
							<a th:href="${baseURL} + '/edit/' + ${currentPage} + '/' + ${article.id} + '/' + ${iterStat.index} + ${keyword != null ? '?keyword=' + keyword : ''}" 
								class="fa-solid fa-pen-to-square fa-1x mx-2 text-white link-edit" data-bs-toggle="tooltip" title="Edit"></a>
							<a th:href="${baseURL} + '/requestRemove/' + ${currentPage} + '/' + ${article.id} + '/' + ${iterStat.index} + ${keyword != null ? '?keyword=' + keyword : ''}" 
								class="fa-solid fa-trash-can fa-1x mx-2 text-white link-delete" data-bs-toggle="tooltip" title="Delete"></a>
						</div>
						<div class="card-body"  style="height: 280px;">
							<div style="height: 180px;">
								<h5 class="card-title">[[${article.title}]]</h5>
								<h6 class="card-subtitle mb-2 text-muted">[[${article.dateString}]], <span class="fst-italic">[[${article.author}]]</span></h6>
								<p class="card-text article-summary">[[${article.summary}]]</p>
							</div>
							<th:block th:each="tag : ${article.sortedTags}">
								<a th:href="${baseURL} + '?keyword=' + ${tag.tag}"><span class="badge rounded-pill fs-6 my-1">[[${tag.tag}]]</span></a>
							</th:block>
						</div>
					</div>
				</div>
			</th:block>
		</div>
	</div>
	
	<div th:replace="fragments :: pagination(${baseURL}, ${suffixURL})" />
	
	<div th:replace="modal_fragments :: messageModal(${yesButtonURL})" />
	<div th:replace="modal_fragments :: articleViewModal" />
	<div th:replace="fragments :: site_footer" />
	<div th:replace="fragments :: common_js" />
	<script type="text/javascript">
		var length = 80;
		let summaryList = document.getElementsByClassName('article-summary');
		for (summary of summaryList) {
			if (summary.innerText.length > length) {
				summary.innerText = summary.innerText.substring(0, length - 1 ) + '...';
			}
		}
		const modalTitle = "[[${modalTitle}]]";
		const modalBody = `[[${modalBody}]]`;
		if (modalTitle !== "") showModal(modalTitle);
		
	</script>
	
</body>
</html>