<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: page_head('User Form - L\'essayer Backend Console')">
<body>
	<div th:replace="fragments :: top_header_bar" />
    <div th:replace="fragments :: nav_bar" />
    
    <div>
    	<div class="form-header">
    		<h2 class="text-center text-light bg-success py-2">[[${pageTitle}]]</h2>
	    </div>
	    <div class="form border border-success border-3 rounded">
		    <form class="row g-3 p-5 justify-content-center" action="#"
		    	method="post" th:object=${article} enctype="multipart/form-data" id="articleForm">
		    	<input type="hidden" th:field="*{id}">
		    	
			  	<div class="d-flex gap-2 col-10 justify-content-center">
			    	<input type="submit" class="btn btn-success" value="Create">
			    	<a th:href="${baseURL} + '/' + ${returnPage} + ${keyword != null ?'?keyword=' + keyword : ''}">
			    		<button type="button" class="btn btn-success">Cancel</button></a>
			  	</div>
			</form>
	    </div>
    </div>
    <div th:replace="fragments :: site_footer" />
    <div th:replace="fragments :: common_js" />
	<div th:replace="modal_fragments :: messageModal('')" />
    <script type="text/javascript" th:src="@{/js/common_form.js}"></script>
	<script>

    </script>
	
</body>
</html>