<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: page_head('Users - L\'essayer Backend Console')">

<body>
	<div th:replace="fragments :: top_header_bar" />
    <div th:replace="fragments :: nav_bar" />
    <div class="container-fluid">
    	<div th:replace="fragments :: tool_bar(${baseURL})" />
    	<div class="m-2 py-2">
			<table class="table">
				<thead class="table-dark">
					<tr>
						<th width="5%">ID</th>
						<th width="10%">Photos</th>
						<th width="35%">Email</th>
						<th width="15%">Name</th>
						<th width="20%">Registration Date</th>
						<th width="10%"></th>
					</tr>
				</thead>
				<tbody>
					<th:block th:each="user, iterStat : ${userList}">
						<tr class="align-middle">
							<td>[[${user.id}]]</td>
							<td><img th:src="${user.photosImagePath}" alt="avatar" width="60%"></td>
							<td>[[${user.email}]]</td>
							<td>[[${user.fullName}]]</td>
							<td>[[${user.registrationDate}]]</td>
							<td>
								<a th:href="${baseURL} + '/view/' + ${currentPage} + '/' + ${user.id} + '/' + ${iterStat.index}
									+ ${keyword != null ? '?keyword=' + keyword : ''}" 
									class="fa-solid fa-file fa-2x mx-2 color-primary link-detail"></a>
								<a th:href="${baseURL} + '/edit/' + ${currentPage} + '/' + ${user.id} + '/' + ${iterStat.index}
									+ ${keyword != null ? '?keyword=' + keyword : ''}" 
									class="fa-solid fa-pen-to-square fa-2x mx-2 color-primary link-edit"></a>
								<a th:href="${baseURL} + '/requestRemove/' + ${currentPage} + '/' + ${user.id} + '/' + ${iterStat.index}
									+ ${keyword != null ? '?keyword=' + keyword : ''}"
									class="fa-solid fa-trash-can fa-2x mx-2 color-primary link-delete"></a>
							</td>
						</tr>			
					</th:block>
				</tbody>
			</table>
		</div>
    </div>
	
	<div th:replace="fragments :: pagination(${baseURL}, ${suffixURL})" />
	
	<div th:replace="modal_fragments :: messageModal(${yesButtonURL})" />
	<div th:replace="modal_fragments :: userInformationModal" />
	
	<div th:replace="fragments :: site_footer" />
	<div th:replace="fragments :: common_js" />
	<script type="text/javascript">
		const modalTitle = "[[${modalTitle}]]";
		const modalBody = "[[${modalBody}]]";
		if (modalTitle !== "") showModal(modalTitle);
	</script>
	
</body>
</html>