<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: page_head('L\'essayer Backend Console')" />

<body>
    <div class="hero-content">
        <header class="site-header">
			<div th:replace="fragments :: top_header_bar(${contactMail})" />
			<div th:replace="fragments :: nav_bar" />
        </header><!-- .site-header -->

        <div class="hero-content-overlay">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="hero-content-wrap flex flex-column justify-content-center align-items-start">
                            <header class="entry-header">
                                <h1>L'ESSAYER<br/>ADMINSTRATION CENTER</h1>
                            </header><!-- .entry-header -->

                            <div class="entry-content">
                                <p><strong>Critical news </strong> <br>
                                   L'essayer adminstration center will be under maintenance from 2022.04.29 to 2022.06.09</p>
                            </div><!-- .entry-content -->

                            <footer class="entry-footer read-more">
                                <a href="#">Discover more</a>
                            </footer><!-- .entry-footer -->
                        </div><!-- .hero-content-wrap -->
                    </div><!-- .col -->
                </div><!-- .row -->
            </div><!-- .container -->
        </div><!-- .hero-content-hero-content-overlay -->
    </div><!-- .hero-content -->

    <div class="icon-boxes">
        <div class="container-fluid">
            <div class="flex flex-wrap align-items-stretch">
                <div class="icon-box">
                    <div class="icon">
                        <span class="ti-user"></span>
                    </div><!-- .icon -->

                    <header class="entry-header">
                        <h2 class="entry-title">Manage user</h2>
                    </header><!-- .entry-header -->

                    <div class="entry-content">
                        <p>Manage and check user account. Only adminstrator can modify user account.</p>
                    </div><!-- .entry-content -->

                    <footer class="entry-footer read-more">
                        <a href="#">Click to access<i class="fa fa-long-arrow-right"></i></a>
                    </footer><!-- .entry-footer -->
                </div><!-- .icon-box -->

                <div class="icon-box">
                    <div class="icon">
                        <span class="ti-folder"></span>
                    </div><!-- .icon -->

                    <header class="entry-header">
                        <h2 class="entry-title">Update Content</h2>
                    </header><!-- .entry-header -->

                    <div class="entry-content">
                        <p>Update and modify articles here. Access to the dictionary and the quiz system.</p>
                    </div><!-- .entry-content -->

                    <footer class="entry-footer read-more">
                        <a href="#">Click to access<i class="fa fa-long-arrow-right"></i></a>
                    </footer><!-- .entry-footer -->
                </div><!-- .icon-box -->

                <div class="icon-box">
                    <div class="icon">
                        <span class="ti-book"></span>
                    </div><!-- .icon -->

                    <header class="entry-header">
                        <h2 class="entry-title">Feedback</h2>
                    </header><!-- .entry-header -->

                    <div class="entry-content">
                        <p>Browse user feedback.</p>
                    </div><!-- .entry-content -->

                    <footer class="entry-footer read-more">
                        <a href="#">Click to access<i class="fa fa-long-arrow-right"></i></a>
                    </footer><!-- .entry-footer -->
                </div><!-- .icon-box -->

                <div class="icon-box">
                    <div class="icon">
                        <span class="ti-world"></span>
                    </div><!-- .icon -->

                    <header class="entry-header">
                        <h2 class="entry-title">Sales</h2>
                    </header><!-- .entry-header -->

                    <div class="entry-content">
                        <p>View revenue information..</p>
                    </div><!-- .entry-content -->

                    <footer class="entry-footer read-more">
                        <a href="#">Click to access<i class="fa fa-long-arrow-right"></i></a>
                    </footer><!-- .entry-footer -->
                </div><!-- .icon-box -->
            </div><!-- .row -->
        </div><!-- .container-fluid -->
    </div><!-- .icon-boxes -->

    <div th:replace="fragments :: clients_logo" />
	<div th:replace="fragments :: site_footer" />
	<div th:replace="fragments :: common_js" />

</body>
</html>