<div th:fragment="messageModal(yesButtonURL)" th:remove="tag">
	<div class="modal fade" id="messageModal">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h3 class="modal-title" id="messageModalTitle">[[${modalTitle}]]</h3>
					<button type="button" class="btn-close" data-bs-dismiss="modal"></button>
				</div>
				<div class="modal-body" id="messageModalBody">[[${modalBody}]]</div>
				<div class="modal-footer">
					<th:block th:if="${modalTitle} != 'Warning'">
						<button type="button" class="btn btn-primary" data-bs-dismiss="modal" id="closeButton">Close</button>
					</th:block>
					<th:block th:if="${modalTitle} == 'Warning'">
						<button type="button" class="btn btn-danger" data-bs-dismiss="modal" id="yesButton">
							<a th:href="${yesButtonURL}" class="text-white text-decoration-none">Yes</a>
						</button>
						<button type="button" class="btn btn-primary" data-bs-dismiss="modal" id="noButton">No</button>
					</th:block>
				</div>
			</div>
		</div>
	</div>
</div>

<div th:fragment="userInformationModal" th:remove="tag">
	<div class="modal fade" id="userInformationModal">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<h3 class="modal-title text-success" id="informationModalTitle">[[${modalTitle}]]</h3>
					<button type="button" class="btn-close" data-bs-dismiss="modal"></button>
				</div>
				<div class="modal-body" th:if="${showId != null}">
					<div class="d-flex flex-row">
						<img th:src="${userList[showId].photosImagePath}" alt="avatar" width="300px">
						<div class="p-4 user-details">
								<p>Full name: [[${userList[showId].fullName}]]</p>
								<p>Email: [[${userList[showId].email}]]</p>
								<p>Roles: [[${userList[showId].roles}]]</p>
								<p>Enable status: [[${userList[showId].enabled}]]</p>
								<p>Registration date: [[${userList[showId].registrationDate}]]</p>
						</div>
					</div>
					
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>
</div>

<div th:fragment="articleViewModal" th:remove="tag">
	<div class="modal fade" id="articleViewModal">
		<div class="modal-dialog modal-xl">
			<div class="modal-content">
				<div class="modal-header">
					<h3 class="modal-title text-success ms-4" id="informationModalTitle">[[${modalTitle}]]</h3>
					<button type="button" class="btn-close" data-bs-dismiss="modal"></button>
				</div>
				<div class="modal-body" th:if="${showId != null}">
					<h6 class="mb-2 ps-4 text-muted">[[${articleList[showId].dateString}]], <span class="fst-italic">[[${articleList[showId].author}]]</span></h6>
					<div class="d-flex flex-row">
						<div class="px-4 py-2 article-content" id="articleContent">

						</div>
					</div>
					
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>
</div>

<div th:fragment="videoInformationModal" th:remove="tag">
	<div class="modal fade" id="videoInformationModal">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<h3 class="modal-title text-success" id="informationModalTitle">[[${modalTitle}]]</h3>
					<button type="button" class="btn-close" data-bs-dismiss="modal"></button>
				</div>
				<div class="modal-body" th:if="${showId != null}">
					<div class="d-flex flex-column">
						<h4>[[${videoList[showId].title}]]</h4><br>
						<h6 class="text-muted">Uploaded date: [[${videoList[showId].dateString}]] / Lecturer: [[${videoList[showId].lecturer.name}]] 
							/ Uploader: [[${videoList[showId].uploader}]]</h6>
						<h6 class="text-muted">Language: [[${videoList[showId].language.languageName}]] / Subtitle: [[${videoList[showId].hasSubtitle}]]</h6>
						<h6 class="text-muted">Tags: [[${videoList[showId].tagsString}]]</h6>
						<div class="mx-auto">
							<video class="w-100" controls>
							  <source th:src="${videoList[showId].videoPath}" type="video/mp4">
							</video>
						</div>
						<h6>Description:</h6>
						<p>&nbsp;&nbsp;&nbsp;&nbsp;[[${videoList[showId].description}]]</p>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>
</div>