<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: page_head('Users - L\'essayer Backend Console')">

<body>
	<div th:replace="fragments :: top_header_bar" />
    <div th:replace="fragments :: nav_bar" />

    <div class="container-fluid">
    	<div class="manage-form m-2 py-2 row">
    		<div class="col-2">
	    		<a th:href="@{/user/staffs/createStaff}" data-bs-toggle="tooltip" title="Create new staff"><i class="fa-solid fa-user-plus fa-2x mx-2 color-primary"></i></a>
	    		<a href="#" data-bs-toggle="tooltip" title="Export to csv"><i class="fa-solid fa-file-csv fa-2x mx-2 color-primary"></i></a>
	    		<a href="#" data-bs-toggle="tooltip" title="Export to pdf"><i class="fa-solid fa-file-pdf fa-2x mx-2 color-primary"></i></a>
    		</div>
    		<div class="col-6">
	    		<form class="row g-3">
					<div class="col-auto">
				    	<label for="keyword" class="visually-hidden">Keyword</label>
				    	<input type="search" class="form-control" id="keyword" placeholder="Keyword">
				  	</div>
				  	<div class="col-auto">
				  		<button type="submit" class="btn btn-primary"><i class="fa-solid fa-magnifying-glass"></i></button>
				  		<button type="button" class="btn btn-primary"><i class="fa-solid fa-eraser"></i></button>
				  	</div>
				</form>
    		</div>
    	</div>
    	<div class="m-2 py-2">
			<table class="table">
				<thead class="table-dark">
					<tr>
						<th width="5%">ID</th>
						<th width="10%">Photos</th>
						<th width="35%">Email</th>
						<th width="15%">Name</th>
						<th width="20%">Registration Date</th>
						<th width="10%"></th>
					</tr>
				</thead>
				<tbody>
					<th:block th:each="staff, iterStat : ${staffList}">
						<tr class="align-middle">
							<td>[[${iterStat.count}]]</td>
							<td><img th:src="${staff.photosImagePath}" alt="avatar" width="60%"></td>
							<td>[[${staff.email}]]</td>
							<td>[[${staff.fullName}]]</td>
							<td>[[${staff.registrationDate}]]</td>
							<td>
								<a th:href="" class="fa-solid fa-file fa-2x mx-2 color-primary"></a>
								<a th:href="@{/user/staffs/editStaff/} + ${staff.id}" class="fa-solid fa-pen-to-square fa-2x mx-2 color-primary"></a>
								<a th:href="" class="fa-solid fa-trash-can fa-2x mx-2 color-primary"></a>
							</td>
						</tr>			
					</th:block>
				</tbody>
			</table>
		</div>
    </div>
    
	<div th:replace="fragments :: site_footer" />
	<div th:replace="fragments :: common_js" />
</body>
</html>